
<footer class="main-footer">
  
    
    <div class="main-container">
        <div class="footer-main-content">
          <img class="kochweltlogo" src="images/logo.png" alt=""> 
            <div class="a-footer">
            <a href="/Impressum_index.html">Impressum</a> | <a href="datenschutz.html">Datenschutz</a>
            </div> 
            <p class="p-tag-sizing-2"> © Copyright by Kochwelten</p>
        </div>
   
    </div>

    <div class="footer-social-media">
        <a href="https://www.youtube.com/watch?v=o-YBDTqX_ZU" target="_blank" ><img src="images/social_media_icons/youtube.png" alt="Youtube"></a>
        <a href="https://www.facebook.com/search/top?q=rickastley" target="_blank"><img src="images/social_media_icons/facebook.png" alt="Facebook"></a>
        <a href="https://www.instagram.com/officialrickastley/" target="_blank"><img src="images/social_media_icons/instagram.png" alt="Instagram"></a>
        <p class="p-tag-sizing-2">Created by <br>Rahim Zio<br>Simone Scacciante<br>Kai Michael Kruse</p>
    </div>
</footer>
