<div class="header-impressum">

</div>



<div class="impressum-container-1">

    <div class="impressum-container-2">
        <h2> Impressum</h2>
        <h3>Angaben gemäß § 5 TMG</h3>


        <div>
            <p> <b> Ansprechpartner: </b> </p>
            <p>Simone Scacciante <br>
                Unter den Linden 8 <br>
                10117 Berlin </p>
        </div>

        <div>
            <p><b>Kontakt:</b></p>
            <p> Telefon: 07121-696921<br></p>
        </div>

        <p> E-Mail: <a href='mailto:captain-cook@web.de'>captain-cook@web.de</a> </p>

    </div>