<!--   HTML code deaktivieren -->



<div class="top-section-container padding">

    <div>
        <a href="/index_rezept_pancake.html">  <img src="images/amerikanische_pancakes.jpg" class="pancakes-img"> </a>
    </div>


    <div>
        <h2 class="top-section-h2">Amerikanische Pancakes</h2>
        <p>Wir zeigen dir, wie du ganz einfach super fluffige American Pancakes zaubern kannst. Das
            simple Grundrezept
            kommt mit nur wenig Zutaten aus und ist so schnell zubereitet. Einfach perfekt für ein gemütliches
            Sonntagsfrühstück!</p>
            <a href="/index_rezept_pancake.html"> <button class="recept-btn">Rezept öffnen</button> </a>
    </div>

</div>

<h2 class="try-description-h2 margin_0">
    Lust auf was Neues?
</h2>




<div class="middle-section-container">

    <!--    <img src="images/arrow_links.png" class="arrow-img">     -->


    <div class="middle-section">
        <a href="/index_rezept_gulasch.html"> <img src="images/3gulasch.jpg" class="middle-pictures"> </a>
        <p><b>Gulaschsuppe nach<br> ungarischer Art</b></p> </a> 
    </div>

    <div class="middle-section">
        <img src="images/4bauer_salat.jpg" class="middle-pictures">
        <p><b>Bauersalat</b></p>
    </div>

    <div class="middle-section">
        <img src="images/1bruschetta.jpg" class="middle-pictures">
        <p><b>Bruschetta Di<br> Grammichele</b></b></p>
    </div>

    <!--    <img src="images/arrow_rechts.png" class="arrow-img">   -->

</div>




<div class="middle-section-container">

    <!--    <img src="images/arrow_links.png" class="arrow-img">    -->


    <div class="middle-section">
        <img src="images/5gruenkohl_mit_kassleernacken.jpg" class="middle-pictures">
        <p><b>Grünkohl mit Kassler<br>Nacken und Bauersalat</b></p>
    </div>

    <div class="middle-section">
        <img src="images/2tacos.jpg" class="middle-pictures">
        <p><b>Tacos mit Zwiebel<br> und Rindfleisch</b></p>
    </div>

    <div class="middle-section">
        <img src="images/3gulasch.jpg" class="middle-pictures">
        <p><b>Gulaschsuppe nach<br> ungarischer Art</b></p>
    </div>

    <!--    <img src="images/arrow_rechts.png" class="arrow-img">   -->

</div>




<div class="bottom-section-container">

    <div>
        <h2>Gemüse total versalzen, was nun?</h2>

        <p> Versalzenes Gemüse retten Sie am besten,
            wenn Sie dazu eine helle Soße geben, die komplett ungewürzt
            bleibt:
        </p>


        <ul>

            <li>
                <p>Lassen dafür etwas Butter oder wahlweise Margarine in einer herkömmlichen Pfanne aus und <br> geben
                    Sie einfach die gleiche Menge an Mehl dazu.</p>
            </li>

            <li>
                <p>Ist beides gut vermischt, geben Sie anschließend etwas Wasser hinzu, bis eine Art Soße entsteht.</p>
            </li>

            <li>
                <p> Das versalzene Gemüse können Sie nun zu dieser Soße geben und gut durchziehen lassen. </p>
            </li>
            

        </ul>


    </div>

    <img src="images/salz_tipp.jpg" class="middle-pictures">


</div>
