<div class="header-impressum">


    <div class="impressum-container-1">

        <div class="impressum-container-2">
            <h2> Impressum</h2>
            <h3>Angaben gemäß § 5 TMG</h3> <br>


                <div>
                    <p> <b> Ansprechpartner: </b> </p>
                    <p>Simone Scacciante <br>
                        Unter den Linden 8 <br>
                        10117 Berlin </p> <br>
                </div>

                <div>
                    <p><b>Kontakt:</b></p>
                    <p> Telefon: <br> 07121-696921</p>


                    <p> E-Mail: <br> <a href='mailto:captain-cook@web.de'>captain-cook@web.de</a> </p>
                </div>
        </div>
    </div>
</div>


