<div class="header-kontakt">






    <div class="kontakt-container-1">

        <div class="kontakt-container-2">
            <h2>Kontaktieren Sie uns!</h2>


            <form action="https://simone-scacciante.developerakademie.net/send_mail/send_mail.php" method="POST">

                <input placeholder="Name" id="title" class="input">

                <input name="name" id="mail" placeholder="Deine Email" class="input">

                <textarea name="message" id="note" placeholder="Deine Nachricht an uns" class="textarea"></textarea>


                <button type="submit" class="button-kontakt" onclick="add()">E-Mail senden </button>

            </form>



        </div>

    </div>

</div>