<div class="recipe-content">
    <div class="recipe-header">

        <h1>Grünkohl mit Kassler Nacken</h1>
        <img src="/images/5gruenkohl_mit_kassleernacken.jpg" class="img-rezept">
    
    </div>
    
    
    
    <div class="icons-container">
    
        <div class="icons-box">
            <img src="images/icons/clock-regular.svg" class="icons-img">
            <span> 15 Min. </span>
        </div>
    
        <div class="icons-box">
            <img src="images/icons/brain-solid.svg" class="icons-img">
            <span> simple </span>
        </div>
    
        <div class="icons-box">
            <img src="images/icons/calendar-alt-regular.svg" class="icons-img">
            <span> 27.12.2022 </span>
        </div>
    
    </div>
    
    
    
    <div class="ingrediens">
        <span> Zutaten für </span>
    
        <input id="inputfield" min="0" max="100" type="number" value="1" oninput="validity.valid||(value='');">
    
        <button class="button_portion" onclick="gruenkohl()">Portionen</button>
    </div>
    
    
    
    <div class="ingrediens-table">
    
        <table class="table">
            <tr>
                <td id="num1">1 </td>
                <td> kg</td>
                <td>Grünkohl</td>
            </tr>
    
            <tr>
                <td id="num2">20</td>
                <td> g</td>
                <td>Butterschmalz</td>
            </tr>
    
            <tr>
                <td id="num3">1</td>
                <td></td>
                <td>Zwiebel </td>
            </tr>
    
            <tr>
                <td id="num4">100</td>
                <td> g</td>
                <td>Schinkenspeck gewüfelt</td>
            </tr>
    
            <tr>
                <td id="num5">1 </td>
                <td> Prise</td>
                <td>Salz und Pfeffer </td>
            </tr>
    
            <tr>
                <td id="num6">1</td>
                <td> kg</td>
                <td>Kassler Nacken geräuchert </td>
            </tr>
    
            <tr>
                <td id="num7">300</td>
                <td> g</td>
                <td>Schweinebacke geräuchert </td>
            </tr>
    
            <tr>
                <td id="num8">4</td>
                <td> </td>
                <td>Kohlewürste</td>
            </tr>
    
            <tr>
                <td id="num9">20</td>
                <td> g</td>
                <td>Butterschmalz</td>
            </tr>
    
            <tr>
                <td id="num10">400</td>
                <td> g</td>
                <td> Pellkartoffeln</td>
            </tr>
    
            <tr>
                <td id="num11">1 </td>
                <td> Prise</td>
                <td>Zucker</td>
            </tr>
            
        </table>
    
    </div>
    
    
    <div class="preparation-container">
        <h2>Zubereitung</h2>
    
    
        <div class="preparation-time">
            <div class="icons-box-preparation">
                <img src="images/icons/clock-regular.svg" class="icons-img">
                <span> Arbeitszeit ca 30. Minuten </span>
            </div>
    
            <div class="icons-box-preparation">
                <img src="images/icons/clock-regular.svg" class="icons-img">
                <span> Gesamtzeit ca. 105 Minuten </span>
            </div>
    
        </div>
    
    
    
        <div class="preparation-description">
            <ol>
                <li><b>Grünkohl:</b> <br>
                    Grünkohl gründlich waschen und abtropfen lassen. Kohl fein schneiden und portionsweise in kochendem
                    Wasser 4–5 Minuten blanchieren. Anschließend den Kohl auf einem Sieb abtropfen lassen. Das Kohlwasser
                    auffangen. </li>
    
                <li><b>Kasseler:</b> <br>
                    Die Zwiebeln schälen und würfeln. Den Schinkenspeck ebenfalls würfeln. Butterschmalz in einem großen
                    Bräter erhitzen, Zwiebeln und Speck darin andünsten und mit 300ml der Kohlbrühe ablöschen. Kohl,
                    Kasseler und Schweinebacke zufügen und aufkochen. Zugedeckt ca. 1 1/2 Stunden schmoren. </li>
    
                <li><b>Kartoffeln:</b> <br>
                    Butterschmalz in einer großen Pfanne erhitzen. Kartoffeln darin unter Wenden goldbraun braten, dabei mit
                    Salz und Pfeffer würzen. Zum Schluss mit Zucker bestreuen und unter Wenden karamellisieren lassen..
                </li>
    
                <li><b>anrichten:</b> <br>
                    Den Grünkohl mit Salz abschmecken und jetzt mit Kasseler, Schweinebacke, Würsten und süßen
                    Bratkartoffeln anrichten. Dazu Senf reichen. </li>
    
            </ol>
        </div>
    
    
    
        <div class="preparation-user">
            <h3>Rezept erstellt von</h3>
            <img src="images/img/Kai.jpg" class="user-img">
            <span><b>Kai</b></span>
    
        </div>
    
    
    </div>
    
    
    
    
    
    
    <br> <br> <br> <br> <br>


</div>
