<div class="recipe-content">
    <div class="recipe-header">

        <h1>Asiatische Nudeln</h1>
        <img src="/images/img/asianudeln-3.jpg" class="img-rezept">
    
    </div>
    
    
    
    <div class="icons-container">
    
        <div class="icons-box">
            <img src="/images/icons/brain-solid.svg" class="icons-img">
            <span> 15 Min. </span>
        </div>
    
        <div class="icons-box">
            <img src="/images/icons/brain-solid.svg" class="icons-img">
            <span> simple </span>
        </div>
    
        <div class="icons-box">
            <img src="/images/icons/calendar-alt-regular.svg" class="icons-img">
            <span> 31.12.2022 </span>
        </div>
    
    </div>
    
    
    
    <div class="ingrediens">
        <span> Zutaten für </span>
    
        <input id="inputfield" min="0" max="100" type="number" value="1" oninput="validity.valid||(value='');">
    
        <button class="button_portion" onclick="asiatischeNudel()">Portionen</button>
    </div>
    
    <div class="ingrediens-table">
    
        <table class="table">
            <tbody>
    
                <tr>
    
                    <td id="num1"> 250 </td>
                    <td> g </td>
                    <td> Wok-Nudeln</td>
    
                </tr>
    
                <tr>
    
                    <td id="num2"> 0.5 </td>
                    <td> EL </td>
                    <td>Sesamöl </td>
    
                </tr>
    
                <tr>
    
                    <td id="num3">1</td>
                    <td> </td>
                    <td> Knoblauchzehe</td>
    
                </tr>
    
                <tr>
    
                    <td id="num4"> 0.5 </td>
                    <td> </td>
                    <td> grosse Karotte</td>
    
                </tr>
    
                <tr>
    
                    <td id="num5"> 1 </td>
                    <td> </td>
                    <td> Frühlingszwiebel </td>
    
                </tr>
    
                <tr>
                    <td id="num6">50</td>
                    <td> g </td>
                    <td>frische Sojasprossen</td>
    
                </tr>
    
                <tr>
                    <td id="num7">60</td>
                    <td> g </td>
                    <td> Hähnchenbrust</td>
                </tr>
    
                <tr>
                    <td id="num8">1</td>
                    <td> </td>
                    <td>Ei</td>
                </tr>
                <tr>
                    <td id="num9"> 1</td>
                    <td> EL </td>
                    <td> Erdnussöl</td>
    
        </table>
    </div>
    
    </tbody>
    
    
    
    
    <div class="preparation-container">
        <h2>Zubereitung</h2>
    
    
        <div class="preparation-time">
            <div class="icons-box-preparation">
                <img src="/images/icons/clock-regular.svg" class="icons-img">
                <span> Arbeitszeit ca 15. Minuten </span>
            </div>
    
            <div class="icons-box-preparation">
                <img src="/images/icons/clock-regular.svg" class="icons-img">
                <span> Gesamtzeit ca. 30 Minuten </span>
            </div>
    
        </div>
    
    
    
        <div class="preparation-description">
            <ol>
                <li><b>Schritt</b> <br>
    
                    Die Woknudeln in sprudelndem Wasser ca. 5 Minuten abkochen, dann abgießen, mit kaltem Wasser kurz
                    abschrecken und abtropfen lassen. Die Nudeln mit dem Sesamöl marinieren. Den Knoblauch schälen und fein
                    hacken. Die Karotte schälen und in feine Streifen hobeln.</li>
    
                <b>Schritt </b> <br>
                <li> Frühlingszwiebeln waschen, putzen und in dünne Ringe schneiden. Die Sojaspros-sen für ca. 5 Minuten in
                    eine Schüssel mit kaltem Wasser legen. Die Hähnchenbrust in dünne Scheiben schneiden. Die Eier in einer
                    Schüssel verquirlen. Das Ol in einer groBen hohen Pfanne oder einem Wok erhitzen.</li>
    
    
                <li><b>Schritt</b> <br>
                    Währenddessen die Soße herstellen. Dazu Sojasauce und Austernsauce mit dem Zucker und dem Wasser
                    verrühren. Die geschnittene Hähnchenbrust in der Pfanne für ca. 2 Minuten unter Rühren anbraten, dann
                    das geschnittene Gemüse (Karotten und Frühlingszwiebeln) und den Knoblauch hinzugeben und für 2 weitere
                    Minuten mitbra-ten. Die Nudeln dazugeben und mit dem Gemüse gut verrühren.
                <li><b>Schritt</b> <br>
    
                    Die Hitze etwas reduzieren und die angerührte Sauce einrühren. Dann die verquirlten Eier unter die
                    Nudeln rühren und leicht stocken lassen, zuletzt die Sprossen dazuge-ben. Mit Pfeffer oder Chilipulver
                    verfeinern. Zum Nachwürzen Sojasauce verwenden.
                    </0l>
        </div>
    
    
    
        <div class="preparation-user">
            <h3>Rezept erstellt von</h3>
            <img src="img/rahim.PNG" class="user-img">
            <span><b>Rahim</b></span>
    
        </div>
    
    
    </div>


</div>
