<div class="recipe-content">
    <div class="recipe-header">

        <h1>Gulaschsuppe</h1>
        <img src="images/3gulasch.jpg" class="img-rezept">
    
    </div>
    
    
    
    <div class="icons-container">
    
        <div class="icons-box">
            <img src="images/icons/clock-regular.svg" class="icons-img">
            <span> 90 Min. </span>
        </div>
    
        <div class="icons-box">
            <img src="images/icons/brain-solid.svg" class="icons-img">
            <span> mittel </span>
        </div>
    
        <div class="icons-box">
            <img src="images/icons/calendar-alt-regular.svg" class="icons-img">
            <span> 31.12.2022 </span>
        </div>
    
    </div>
    
    
    
    <div class="ingrediens">
        <span> Zutaten für </span>
    
        <input id="inputfield" min="0" max="100" type="number" value="1" oninput="validity.valid||(value='');">
    
        <button class="button_portion" onclick="gulasch()">Portionen</button>
    </div>
    
    
    <div class="ingrediens-table">
    
        <table class="table">
            <tbody>
    
                <tr>
                    <td id="num1"> 1 </td>
                    <td>kg</td>
                    <td> gemischtes Gulaschfleisch </td>
                </tr>
    
                <tr>
                    <td id="num2"> 500 </td>
                    <td>g</td>
                    <td> Gemüsezwiebel </td>
                </tr>
    
                <tr>
                    <td id="num3"> 350</td>
                    <td>g</td>
                    <td> Kartoffeln </td>
                </tr>
    
                <tr>
                    <td id="num4"> 1  </td>
                    <td>EL</td>
                    <td> Tomatenmark </td>
                </tr>
    
                <tr>
                    <td id="num5"> 2 </td>
                    <td>Tl</td>
                    <td> rosenscharfes Paprikapulver </td>
                </tr>
    
                <tr>
                    <td id="num6">1 </td>
                    <td> Prise</td>
                    <td> etwas Salz, Pfeffer </td>
                </tr>
    
    
    
        </table>
        </tbody>
    
    </div>
    
    
    
    
    
    <div class="preparation-container">
        <h2>Zubereitung</h2>
    
    
        <div class="preparation-time">
            <div class="icons-box-preparation">
                <img src="images/icons/clock-regular.svg" class="icons-img">
                <span> Arbeitszeit ca. 30 Minuten </span>
            </div>
    
            <div class="icons-box-preparation">
                <img src="images/icons/clock-regular.svg" class="icons-img">
                <span> Gesamtzeit ca. 90 Minuten </span>
            </div>
    
        </div>
    
    
    
        <div class="preparation-description">
            <ol>
                <li><b>Schritt 1:</b> <br>
                    Von 1 kg gemischtem Gulaschfleisch die Würfel noch kleiner schneiden, sodass sie ca. 1 cm groß sind. 1
                    Gemüsezwiebel (ca. 400 g) würfeln. Fleisch in 2 Portionen in je 2 El heißem Öl in einem Topf scharf
                    anbraten, Fleisch herausnehmen. Zwiebeln zugeben und weitere 4-5 Min. braten, Fleisch zugeben. 1 El
                    Tomatenmark zugeben und kurz anrösten. Alles mit Salz, Pfeffer und 2 Tl scharfem Paprikapulver würzen.
                    250 ml Wasser zugießen, fast vollständig einkochen lassen.
                </li>
    
                <li><b>Schritt 2: </b> <br>
                    Dann 1,2 l Wasser zugießen, aufkochen und zugedeckt bei mittlerer Hitze 45 Min. garen.
    
                <li><b> Schritt 3: </b> <br>
                    350 g mittelgroße Kartoffeln schälen, 1 Kartoffel fein reiben, den Rest ca. 1 cm groß würfeln in die
                    Suppe geben und weitere 15 Min. garen.
                    <br>
                    Suppe mit Salz, Pfeffer und Paprikapulver abschmecken.
                </li>
                </li>
    
    
            </ol>
        </div>
    
        
    
        <div class="preparation-user">
            <h3>Rezept erstellt von</h3>
            <img src="images/1simone.jpg" class="user-img">
            <span><b>Simone</b></span>
    
        </div>
    
    
    </div>

</div>
