

.title {
    font-family: 'Abel', sans-serif;
    padding-right: 27px;
}


.head-container {
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}


#photo-box {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}


.imgbox {
    display: flex;
    height: 250px;
    margin: 10px;
    cursor: pointer;
}

.imgbox:hover {
    box-shadow: 10px 10px 5px #000000;                    
}
