<div class="recipe-content">
    <div class="recipe-header">
        <h1>Amerikanisches Pancakes</h1>
        <img src="images/amerikanische_pancakes.jpg" class="img-rezept">
        

        <div class="icons-container hide-mobile-rezept">

            <div class="icons-box">
                <img src="images/icons/clock-regular.svg" class="icons-img">
                <span> 30 Min. </span>
            </div>

            <div class="icons-box">
                <img src="images/icons/brain-solid.svg" class="icons-img">
                <span> simple </span>
            </div>

            <div class="icons-box">
                <img src="images/icons/calendar-alt-regular.svg" class="icons-img">
                <span> 31.12.2022 </span>
            </div>

        </div>

        <div class="ingrediens">
            <span> Zutaten für </span>

            <input id="inputfield" min="0" max="100" type="number" value="1" oninput="validity.valid||(value='');">

            <button class="button_portion" onclick="amerikanischePancakes()">Portionen</button>
        </div>
        

    </div>  


    <div class="ingrediens-table">

        <table class="table">
            <tbody>
    
                <tr>
                    <td id="num1"> 250 </td>
                    <td > g </td>
                    <td> Weizenmehl </td>
                </tr>
    
                <tr>
                    <td id="num2"> 2 </td>
                    <td> EL </td>
                    <td> Zucker </td>
                </tr>
    
                <tr>
                    <td id="num3"> 2 </td>
                    <td> TL </td>
                    <td> Backpulver </td>
                </tr>
    
                <tr>
                    <td id="num4"> 1 </td>
                    <td > Prise </td>
                    <td> Salz </td>
                </tr>
    
                <tr>
                    <td id="num5"> 2 </td>
                    <td> Eier </td>
                    <td> Milch </td>
                </tr>
    
    
        </table>
        </tbody>
    
    </div>


    <div class="preparation-container">
        <h2>Zubereitung</h2>


        <div class="preparation-time hide-mobile-rezept">
            <div class="icons-box-preparation">
                <img src="images/icons/clock-regular.svg" class="icons-img">
                <span> Arbeitszeit ca. 15 Minuten </span>
            </div>

            <div class="icons-box-preparation">
                <img src="images/icons/clock-regular.svg" class="icons-img">
                <span> Gesamtzeit ca. 30 Minuten </span>
            </div>

        </div>



        <div class="preparation-description">
            <div>
                <p><b>Pfannkuchenteig:</b> <br>
                    Das Mehl mit dem Zucker, Backpulver und Salz vermischen. Eier und Milch hinzugeben und alles zu einem
                    glatten Teig verrühren.
                </p>

                <p><b>Pfanne</b> <br>
                    Etwas Öl in eine Pfanne geben und auf mittlerer Stufe erhitzen. Je 2 EL Teig in die Pfanne geben. Die
                    Pancakes sollten etwa einen Durchmesser von ca. 10 cm haben. Jeden Pancake ca. 2 Minuten ausbacken, bis
                    sich kleine Bläschen bilden, dann wenden und von der anderen Seite ebenfalls so lange ausbacken. </p>

                <p><b>Garnieren:</b> <br>
                    American Pancakes mit Beeren und Ahornsirup garnieren und servieren.

                </p>


            </div>
        </div>

    

        <div class="preparation-user">
            <h3>Rezept erstellt von</h3>

            <img src="images/1simone.jpg" class="user-img">
            <span><b>Simone</b></span>

        </div>


    </div>










</div>




