<div class="recipe-header-pancake">

    <h2 class="margin_bottom_0">Amerikanisches Pancakes</h2>
    <img src="images/amerikanische_pancakes.jpg" class="pancakes-img-rezept">

</div>



<div class="icons-container">

    <div class="icons-box">
        <img src="images/icons/clock-regular.svg" class="icons-img">
        <span> 15 Min. </span>
    </div>

    <div class="icons-box">
        <img src="images/icons/brain-solid.svg" class="icons-img">
        <span> simple </span>
    </div>

    <div class="icons-box">
        <img src="images/icons/calendar-alt-regular.svg" class="icons-img">
        <span> 31.12.2022 </span>
    </div>

</div>



<div class="ingrediens">
    <span> Zutaten für </span>

    <input id="inputfield" min="1" max="100" type="number" value="4" step="1">

    <button class="button_portion" onclick="portions()">Portionen</button>
</div>



<table>
    <tr>
        <td> 1 EL</td>
        <td> Olivenöl </td>
    </tr>

    <tr>
        <td> 1 EL</td>
        <td> Olivenöl </td>
    </tr>

    <tr>
        <td> 1 EL</td>
        <td> Olivenöl </td>
    </tr>

    <tr>
        <td> 1 EL</td>
        <td> Olivenöl </td>
    </tr>

    <tr>
        <td> 1 EL</td>
        <td> Olivenöl </td>
    </tr>
</table>



<div class="preparation-container"> 
    <h3>Zubereitung</h3>


    <div class="preparation-time"> 
        <div class="icons-box-preparation">
            <img src="images/icons/clock-regular.svg" class="icons-img">
            <span> Arbeitszeit ca 15. Minuten </span>
        </div>
    
        <div class="icons-box-preparation">
            <img src="images/icons/clock-regular.svg" class="icons-img">
            <span> Gesamtzeit ca. 60 Minuten </span>
        </div>
    
    </div>

    

    <div class="preparation-description"> 
        <ol>
        <li><b>Pfannkuchenteig:</b> <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo possimus saepe officiis laborum voluptatum pariatur a omnis officia modi amet.     </li>

        <li><b>Käsesauce:</b> <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo possimus saepe officiis laborum voluptatum pariatur a omnis officia modi amet.     </li>

        <li><b>Backofen:</b> <br>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo possimus saepe officiis laborum voluptatum pariatur a omnis officia modi amet.    </li>

        <li><b>Kühlen:</b> <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo possimus saepe officiis laborum voluptatum pariatur a omnis officia modi amet.  </li>

        </ol>
    </div>

    <h4>Rezept erstellt von</h4>

    <div class="preparation-user"> 
        <img src="images/1simone.jpg" class="user-img">
        <span><b>Simone</b></span>

    </div>


</div>






<br> <br> <br> <br> <br>