.top-section-container {
    display: flex;
    column-gap: 40px;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.middle-section-img {
    width: 500px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}

.recept-btn {
    font-size: 18px;
    background-color: green;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}


.recept-btn:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}


.top-section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: start;
    height: 225px;
}

.top-section h2 {
    text-align: start;
    margin-bottom: 0;
}

.try-description-h2 {
    text-align: center;
    background-color: var(--bg2-background);
    padding: 10px 30px 10px 30px;
}


.middle-section-container {
    display: flex;
    justify-content: space-around;
    column-gap: 1%;
    row-gap: 50px;
    background-color: var(--bg2-background);
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
    flex-wrap: wrap;
}

.middle-section-container p {
    padding-top: 10px;
    text-align: center;
}

.middle-pictures {
    width: 410px;
    height: 280px;
    margin:10px;
    object-fit: cover;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}

.bottom-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
    padding-top: 35px;
    padding-left: 100px;
    padding-right: 100px;
}

.bottom-section-container img {
    margin-left: 50px;
}

.arrow-img {
    height: 80px;
    width: 60px;
    margin-top: 70px;
}












@media(max-width:1550px) {

    .middle-section-img {
        width: 400px;
    }

    .middle-pictures {
        width: 320px;
        height: 215px;
    }


    .bottom-section-container {
        padding-top: 10px;
        }

    .salt-picture {
        width: 400px;
        height: 200px;
        margin-top: 25px;
    }


}




@media(max-width:1200px) {

    .top-section {
        height: 180px;
    }

    .top-section-container {
        padding-bottom: 30px;
    }

    .middle-section-img {
        width: 300px;
    }

    .middle-pictures {
        width: 235px;
        height: 155px;
    }
    
    .recept-btn {
        font-size: 13px;
        padding: 8px;
    }

    .top-section-container {
        font-size: 13px;
    }

    .middle-section-container {
        font-size: 13px;
    }

    .bottom-section-container {
        font-size: 13px;
    }

    .try-description-h2 {
        font-size: 13px;
    }

    .salt-picture {
        width: 300px;
        height: 150px;
    }

}


@media(max-width:943px) {

    .middle-section-img {
        width: 250px;
    }

    .middle-pictures {
        width: 200px;
        height: 140px;
    }

    .hide-mobile {
        display: none;
    }

    .top-section-container {
        padding-left: 60px;
        padding-right: 60px;
    }

    .middle-section-container {
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .bottom-section-container {
        padding-left: 60px;
        padding-right: 60px;
    }

}




@media(max-width:760px) {

    .hide-mobile-2 {
        display: none;
    }

    .top-section-container {
        padding-bottom: 20px;
        padding-left: 25px;
        padding-top: 0px;
    }

    .top-section h2 {
        text-align: center;
    }

    .top-section {
        text-align: center;
    }

    .bottom-section-container {
        text-align: center;

    }

}
@media(max-width:370px) {
    .top-section-container {
        padding-top: 35px;
        padding-bottom: 35px;
    }

}
