<div class="header-kontakt">

</div>




<div class="kontakt-container-1">

    <div class="kontakt-container-2">
        <h2>Kontaktieren Sie uns!</h2>


        <form action="https://gruppe-405.developerakademie.net/send_mail/send_mail.php" method="POST">

            <input placeholder="Betreff" class="input">

            <input name="name" placeholder="Dein Vor- und Zuname" class="input">

            <textarea name="message" placeholder="Deine Nachricht an uns" class="textarea"></textarea>


            <button type="submit">E-Mail senden </button>

        </form>



    </div>



</div>