<div class="recipe-header">

    <h2 class="margin_bottom_0">Bauersalat</h2>
    <img src="/images/4bauer_salat.jpg" class="img-rezept">

</div>



<div class="icons-container">

    <div class="icons-box">
        <img src="images/icons/clock-regular.svg" class="icons-img">
        <span> 10 Min. </span>
    </div>

    <div class="icons-box">
        <img src="images/icons/brain-solid.svg" class="icons-img">
        <span> simple </span>
    </div>

    <div class="icons-box">
        <img src="images/icons/calendar-alt-regular.svg" class="icons-img">
        <span> 27.12.2022 </span>
    </div>

</div>



<div class="ingrediens">
    <span> Zutaten für </span>

    <input id="inputfield" min="1" max="100" type="number" value="1" step="1">

    <button class="button_portion">Portionen</button>
</div>



<table class="table">
    <tbody>
    <tr>
        
        <td>1</td>
        <td>Salatgurke(n)</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Paprikaschoten, rote und grün</td>
    </tr>

    <tr>
        <td>500g</td>
        <td>Totmaten</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Zwiebel(n)</td>
    </tr>

    <tr>
        <td>1 Prise</td>
        <td>Salz und Pfeffer </td>
    </tr>
    <tr>
        <td>200g</td>
        <td>Scharfskäse</td>
    </tr>
    <tr>
        <td>1 Prise</td>
        <td>Oregano</td>
    </tr>
    <tr>
        <td>1 Glas</td>
        <td>Oliven, Schwarz, ca 100</td>
    </tr>
    <tr>
        <td>125ml</td>
        <td>Olivenöl</td>
    </tr>
    <tr>
        <td>1 Zitrone</td>
        <td>Saft davon</td>
    </tr>
    <tr>
        <td>1 Prise</td>
        <td>Salz und Pfeffer</td>
    </tr>
</tbody>
</table>



<div class="preparation-container"> 
    <h3>Zubereitung</h3>


    <div class="preparation-time"> 
        <div class="icons-box-preparation">
            <img src="images/icons/clock-regular.svg" class="icons-img">
            <span> Arbeitszeit ca 20. Minuten </span>
        </div>
    
        <div class="icons-box-preparation">
            <img src="images/icons/clock-regular.svg" class="icons-img">
            <span> Gesamtzeit ca. 20 Minuten </span>
        </div>
    
    </div>

    

    <div class="preparation-description"> 
        <ol>
        <li><b>Zubereitung:</b> <br>
            Gurke waschen und ungeschält in dünne Scheiben oder Stücke schneiden. Paprika waschen, entkernen und in dünne Streifen schneiden. Tomaten waschen und achteln. Zwiebeln schälen und in feine Ringe schneiden. Schafskäse würfeln und mit Oregano bestreuen. Oliven abgießen und mit Gurke, Paprika, Tomaten, Zwiebeln und Schafskäse in eine Schüssel geben.
            <br>
            Olivenöl, Zitronensaft, Salz und Pfeffer zu einer Sauce verrühren und über den Salat gießen. Umrühren.</li>


        </ol>
    </div>

    <h4>Rezept erstellt von</h4>

    <div class="preparation-user"> 
        <img src="/Kai/Vorlagen/Mops.jpeg" class="user-img">
        <span><b>Kai</b></span>

    </div>


</div>






<br> <br> <br> <br> <br>