<!--   HTML code deaktivieren -->



<div class="top-section-container">

    <div>
        <a href="/american_pancake.html"><img src="images/amerikanische_pancakes.jpg" class="middle-section-img hide-mobile-2"></a>
    </div>


    <div class="top-section">
        <h2 class="top-section-h2">Amerikanische Pancakes</h2> 
        Wir zeigen dir, wie du ganz einfach super fluffige American Pancakes zaubern kannst. Das
        simple Grundrezept kommt mit nur wenig Zutaten aus und ist so schnell zubereitet. Einfach perfekt für ein gemütliches
        Sonntagsfrühstück!
        </p>

        <div class="rezept-button"> <a href="american_pancake.html" class="recept-btn">Rezept öffnen</a>
        </div>

    </div>

</div>


<div class="try-description-h2">
    <h2>Lust auf was Neues</h2>
</div>


<div class="middle-section-container">

    <!--    <img src="images/arrow_links.png" class="arrow-img">     -->


    <div class="middle-section">
        <a href="/gulasch.html"><img src="images/3gulasch.jpg" class="middle-pictures"></a>
        <p><b>Gulaschsuppe</b></p>
    </div>

    <div class="middle-section">
        <a href="/tacos.html"><img src="images/tacos.jpg" class="middle-pictures"></a>
        <p><b>Tacos</b></p>
    </div>

    <div class="middle-section">
        <a href="/bruschetta.html"><img src="/images/bruschetta.jpg" class="middle-pictures"></a>
        <p><b>Bruschetta</b></p>
    </div>

    <div class="middle-section">
        <a href="/schokofondue.html"><img src="images/schokofondue.jpg" class="middle-pictures"></a>
        <p><b>Schokofondue</b></p>
    </div>

    <div class="middle-section">
        <a href="/caprese.html"><img src="/images/caprese.jpg" class="middle-pictures"></a>
        <p><b>Caprese</b></p>
    </div>

    <div class="middle-section">
        <a href="/american_pancake.html"><img src="/images/amerikanische_pancakes.jpg" class="middle-pictures"></a>
        <p><b>American Pancakes</b></p>
    </div>

    <!--    <img src="images/arrow_rechts.png" class="arrow-img">   -->

</div>




<div class="bottom-section-container">

    <div>
        <h2>Gemüse total versalzen, was nun?</h2>

        <p> Versalzenes Gemüse retten Sie am besten,
            wenn Sie dazu eine helle Soße geben, die komplett ungewürzt
            bleibt:
        </p>




            <p>Lassen dafür etwas Butter oder wahlweise Margarine in einer herkömmlichen Pfanne aus und geben
                Sie einfach die gleiche Menge an Mehl dazu.</p>



            <p>Ist beides gut vermischt, geben Sie anschließend etwas Wasser hinzu, bis eine Art Soße entsteht.</p>



            <p>Das versalzene Gemüse können Sie nun zu dieser Soße geben und gut durchziehen lassen.

            </p>



    </div>

    <img id="img_salz" src="images/salz1.jpg" class="middle-pictures salt-picture hide-mobile">








