<div class="recipe-content">
    <div class="recipe-header">

        <h1>Insalata Caprese</h1>
        <img src="/images/caprese.jpg" class="img-rezept">

    </div>



    <div class="icons-container">

        <div class="icons-box">
            <img src="/images/icons/brain-solid.svg" class="icons-img">
            <span> 15 Min. </span>
        </div>

        <div class="icons-box">
            <img src="/images/icons/brain-solid.svg" class="icons-img">
            <span> simple </span>
        </div>

        <div class="icons-box">
            <img src="/images/icons/calendar-alt-regular.svg" class="icons-img">
            <span> 31.12.2022 </span>
        </div>

    </div>



    <div class="ingrediens">
        <span> Zutaten für </span>

        <input id="inputfield" min="0" max="100" type="number" value="1" oninput="validity.valid||(value='');">

        <button class="button_portion" onclick="caprese()">Portionen</button>
    </div>

    <div class="ingrediens-table">

        <table class="table">
            <tbody>

                <tr>
                    <td id="num1"> 150 </td>
                    <td> g</td>
                    <td>Kirschtomaten </td>
                </tr>

                <tr>
                    <td id="num2"> 2 </td>
                    <td> Kugel </td>
                    <td> Mozzarella</td>
                </tr>

                <tr>
                    <td id="num3">1</td>
                    <td> Bund</td>
                    <td> Basilikum</td>
                </tr>

        </table>
    </div>

    </tbody>




    <div class="preparation-container">
        <h2>Zubereitung</h2>


        <div class="preparation-time">
            <div class="icons-box-preparation">
                <img src="/images/icons/clock-regular.svg" class="icons-img">
                <span> Arbeitszeit ca 15. Minuten </span>
            </div>

            <div class="icons-box-preparation">
                <img src="/images/icons/clock-regular.svg" class="icons-img">
                <span> Gesamtzeit ca. 30 Minuten </span>
            </div>

        </div>



        <div class="preparation-description">
            <ol>
                <p><b>Mozzarella zubereiten</b> <br>
                    Den Mozzarella in dünne Scheiben schneiden. Die Tomate waschen, putzen und in Scheiben schneiden.
                    Basilikum putzen, die Blätter abzupfen und in dünne Streifen (Chiffonade) schneiden.

                <p><b>anrichten</b> <br>
                    Tomaten und Mozzarella auf einer Platte anrichten, mit Salz und Pfeffer würzen.
                    Mit kalt gepresstem Olivenöl beträufeln und mit dem Basilikum garnieren. Sofort servieren.

            </ol>
        </div>



        <div class="preparation-user">
            <h3>Rezept erstellt von</h3>
            <img src="images/andre.jpg" class="user-img">
            <span><b>Andre</b></span>

        </div>


    </div>


</div>