<div class="recipe-content">
    <div class="recipe-header">

        <h1>Schweizer Schokofondue</h1>
        <img src="/images/schokofondue.jpg" class="img-rezept">

    </div>



    <div class="icons-container">

        <div class="icons-box">
            <img src="images/icons/clock-regular.svg" class="icons-img">
            <span> 20 Min. </span>
        </div>

        <div class="icons-box">
            <img src="images/icons/brain-solid.svg" class="icons-img">
            <span> simple </span>
        </div>

        <div class="icons-box">
            <img src="images/icons/calendar-alt-regular.svg" class="icons-img">
            <span> 03.03.2023 </span>
        </div>

    </div>



    <div class="ingrediens">
        <span> Zutaten für </span>

        <input id="inputfield" min="0" max="100" type="number" value="1" oninput="validity.valid||(value='');">

        <button class="button_portion" onclick="schokofondue()">Portionen</button>
    </div>



    <div class="ingrediens-table">

        <table class="table">
            <tr>
                <td id="num1">3 </td>
                <td> Tafeln</td>
                <td>Schokolade</td>
            </tr>

            <tr>
                <td id="num2">200</td>
                <td> g</td>
                <td>Sahne</td>
            </tr>

            <tr>
                <td id="num3">1</td>
                <td>Schuss</td>
                <td>Orangensaft </td>
            </tr>


        </table>

    </div>


    <div class="preparation-container">
        <h2>Zubereitung</h2>


        <div class="preparation-time">
            <div class="icons-box-preparation">
                <img src="images/icons/clock-regular.svg" class="icons-img">
                <span> Arbeitszeit ca 15. Minuten </span>
            </div>

            <div class="icons-box-preparation">
                <img src="images/icons/clock-regular.svg" class="icons-img">
                <span> Gesamtzeit ca. 20 Minuten </span>
            </div>

        </div>



        <div class="preparation-description">
            <ol>
                <p><b>Fonduetopf</b> <br>
                    In einen Topf die Sahne und die Schokolade in Stückchen geben. Schmelzen lassen, nicht kochen.
                    Orangensaft oder Cointreau dazugeben und in einen Fonduetopf geben. Die Früchte in Würfel schneiden.
                    </p>

                <p><b>Geheimtipp</b> <br>

            </ol>
        </div>



        <div class="preparation-user">
            <h3>Rezept erstellt von</h3>
            <img src="images/katze.jpg" class="user-img">
            <span><b>Tina</b></span>

        </div>


    </div>






    <br> <br> <br> <br> <br>


</div>