<div class="recipe-content">
    <div class="recipe-header">

        <h1>Bruschetta di modena</h1>
        <img src="/images/bruschetta.jpg" class="img-rezept">

    </div>



    <div class="icons-container">

        <div class="icons-box">
            <img src="images/icons/clock-regular.svg" class="icons-img">
            <span> 30 Min. </span>
        </div>

        <div class="icons-box">
            <img src="images/icons/brain-solid.svg" class="icons-img">
            <span> simple </span>
        </div>

        <div class="icons-box">
            <img src="images/icons/calendar-alt-regular.svg" class="icons-img">
            <span> 03.03.2023 </span>
        </div>

    </div>



    <div class="ingrediens">
        <span> Zutaten für </span>

        <input id="inputfield" min="0" max="100" type="number" value="1" oninput="validity.valid||(value='');">

        <button class="button_portion" onclick="bruschetta()">Portionen</button>
    </div>


    <div class="ingrediens-table">

        <table class="table">
            <tr>
                <td id="num1">150</td>
                <td>g</td>
                <td>Strauchtomate(n)</td>
            </tr>

            <tr>
                <td id="num2">2</td>
                <td>  </td>
                <td> Ciabatta</td>
            </tr>

            <tr>
                <td id="num3">3</td>
                <td></td>
                <td> Knoblauchzehe(n)</td>
            </tr>

            <tr>
                <td id="num4">4</td>
                <td>EL</td>
                <td> Olivenöl</td>
            </tr>

            <tr>
                <td id="num5">4</td>
                <td>TL</td>
                <td>Salz und Pfeffer</td>
            </tr>

        </table>

    </div>


    <div class="preparation-container">
        <h2>Zubereitung</h2>


        <div class="preparation-time">
            <div class="icons-box-preparation">
                <img src="/images/icons/clock-regular.svg" class="icons-img">
                <span> Arbeitszeit ca. 15 Minuten </span>
            </div>

            <div class="icons-box-preparation">
                <img src="/images/icons/clock-regular.svg" class="icons-img">
                <span> Gesamtzeit ca. 30 Minuten </span>
            </div>

        </div>



        <div class="preparation-description">
            <ol>
                <p><b>Tomaten Vorbereiten:</b> <br>
                    Die Tomaten waschen und vom Grün befreien. Halbieren und in kleine Würfel schneiden. Den Knoblauch sehr klein schneiden und zu den Tomatenstücken geben. Mit gut 3 EL Öl sowie 1 - 2 TL Tomatengewürzsalz mischen. Unbedingt mindestens 2 Stunden im Kühlschrank ziehen lassen.
                </p>

                <p><b>Backofen vorheizen:</b> <br>
                    Den Backofen auf 180 - 200 °C Umluft vorheizen.

                </p>



                <p><b>Im Backofen backen:</b> <br>
                    Im vorgeheizten Backofen auf der mittleren Einschubleiste ca. 5 - 8 Minuten goldbraun backen, nicht zu dunkel, sonst werden sie zu hart.
                </p>



                <p><b>anrichten:</b> <br>
                    Die Ciabattascheiben aus dem Ofen nehmen und mit 0,5 - 1 Esslöffel der Tomaten-Knoblauchmischung pro Scheibe belegen.
                </p>




            </ol>
        </div>



        <div class="preparation-user">
            <h3>Rezept erstellt von</h3>
            <img src="/images/sara.jpg" class="user-img">
            <span><b>Sara</b></span>

        </div>


    </div>




</div>

</div>