<div class="recipe-header">

    <h2 class="margin-h2">Amerikanisches Pancakes</h2>
    <img src="images/amerikanische_pancakes.jpg" class="img-rezept">

</div>



<div class="icons-container">

    <div class="icons-box">
        <img src="images/icons/clock-regular.svg" class="icons-img">
        <span> 30 Min. </span>
    </div>

    <div class="icons-box">
        <img src="images/icons/brain-solid.svg" class="icons-img">
        <span> simple </span>
    </div>

    <div class="icons-box">
        <img src="images/icons/calendar-alt-regular.svg" class="icons-img">
        <span> 31.12.2022 </span>
    </div>

</div>



<div class="ingrediens">
    <span> Zutaten für </span>

    <input id="inputfield" min="1" max="100" type="number" value="1" step="1">

    <button class="button_portion" onclick="amerikanischePancakes()">Portionen</button>
</div>


<div class="ingrediens-table">

    <table class="table">
        <tbody>

            <tr>
                <td id="num1"> 250 </td>
                <td > g </td>
                <td> Weizenmehl </td>
            </tr>

            <tr>
                <td id="num2"> 2 </td>
                <td> EL </td>
                <td> Zucker </td>
            </tr>

            <tr>
                <td id="num3"> 2 </td>
                <td> TL </td>
                <td> Backpulver </td>
            </tr>

            <tr>
                <td id="num4"> 1 </td>
                <td > Prise </td>
                <td> Salz </td>
            </tr>

            <tr>
                <td id="num5"> 2 </td>
                <td> Eier </td>
                <td> Milch </td>
            </tr>


    </table>
    </tbody>

</div>





<div class="preparation-container">
    <h3>Zubereitung</h3>


    <div class="preparation-time">
        <div class="icons-box-preparation">
            <img src="images/icons/clock-regular.svg" class="icons-img">
            <span> Arbeitszeit ca. 15 Minuten </span>
        </div>

        <div class="icons-box-preparation">
            <img src="images/icons/clock-regular.svg" class="icons-img">
            <span> Gesamtzeit ca. 30 Minuten </span>
        </div>

    </div>



    <div class="preparation-description">
        <ol>
            <li><b>Pfannkuchenteig:</b> <br>
                Das Mehl mit dem Zucker, Backpulver und Salz vermischen. Eier und Milch hinzugeben und alles zu einem
                glatten Teig verrühren.
            </li>

            <li><b>Pfanne</b> <br>
                Etwas Öl in eine Pfanne geben und auf mittlerer Stufe erhitzen. Je 2 EL Teig in die Pfanne geben. Die
                Pancakes sollten etwa einen Durchmesser von ca. 10 cm haben. Jeden Pancake ca. 2 Minuten ausbacken, bis
                sich kleine Bläschen bilden, dann wenden und von der anderen Seite ebenfalls so lange ausbacken. </li>

            <li><b>Garnieren:</b> <br>
                American Pancakes mit Beeren und Ahornsirup garnieren und servieren.

            </li>


        </ol>
    </div>

    <h4>Rezept erstellt von</h4>

    <div class="preparation-user">
        <img src="images/1simone.jpg" class="user-img">
        <span><b>Simone</b></span>

    </div>


</div>






