<div class="recipe-header">

    <h2 class="margin-h2">Nutella Kekse</h2>
    <img src="/images/kekse-1.jpg" class="img-rezept">

</div>



<div class="icons-container">

    <div class="icons-box">
        <img src="images/icons/clock-regular.svg" class="icons-img">
        <span> 90 Min. </span>
    </div>

    <div class="icons-box">
        <img src="images/icons/brain-solid.svg" class="icons-img">
        <span> simple </span>
    </div>

    <div class="icons-box">
        <img src="images/icons/calendar-alt-regular.svg" class="icons-img">
        <span> 31.12.2022 </span>
    </div>

</div>



<div class="ingrediens">
    <span> Zutaten für </span>

    <input id="inputfield" min="1" max="100" type="number" value="1" step="1">

    <button class="button_portion" onclick="nutella()" >Portionen</button>
</div>


<div class="ingrediens-table">

   
    <table class="table">
        <tbody>
        
        <tr>
        
        <td id="num1">300</td>
        <td>g</td>
        <td>Mehl</td>
        
        </tr>
        
        <tr>
        
        <td id="num2"></td>
            
        <td> Backpulver </td>
        <td> 8</td>
        <td>g</td>
        </tr>
        
        <tr>
        
        <td id="num3">200</td>
        <td>g</td>
        <td> Nuss-nougat-creme</td>
        
        </tr>
        
        <tr>
        
            <td id="num4">100</td>
            <td>g</td>
            <td> Butter</td>
            
            </tr>
        
        <tr>
          <td id="num5">1</td>
            <td> </td>
            <td> Ei(Grösse M)</td>
                
           </tr>
           <tr>
        
            <td id="num6">1 </td>
            <td>Pck</td>   
              <td>Vanilezucker</td>     
             </tr>
             <tr>
        
                <td id="num7">1 </td>
                <td>Prise</td>
                  <td> Salz</td>
                      
                 </tr>
        </table>

</div>

    
    <div class="preparation-container"> 
        <h3>Zubereitung</h3>
    
    
        <div class="preparation-time"> 
            <div class="icons-box-preparation">
                <img src="/images/icons/clock-regular.svg" class="icons-img">
                <span> Arbeitszeit ca. 25 Minuten </span>
            </div>
        
            <div class="icons-box-preparation">
                <img src="/images/icons/clock-regular.svg" class="icons-img">
                <span> Gesamtzeit ca. 60 Minuten </span>
            </div>
        
        </div>
    
        
    
        <div class="preparation-description"> 
            <ol>
            <li><b>Schritt</b> <br>
                Für den Teig das Mehl mit dem Backpulver mischen und in eine Schüssel sieben. Die Nuss-Nougat-Creme und die in kleine Stücke geschnittene Butter hinzugeben. Alles kurz vermengen. Die Eier hinzufügen und solange rühren bis die Masse schön gleichmäßig geworden ist. Den Teig auf einer bemehlten Arbeitsfläche zu einer 40 cm langen Rolle formen.
                
                <li> <b>Schritt </b> <br>
              Den Backofen auf 180 Grad Ober- und Unterhitze (Umluft 160 Grad) vorheizen. Die Rolle in 40 gleich große Portionen einteilen (siehe Portionenangabe). Jede Portion mit den Händen zu einer kleinen Kugel formen. Mit einer Gabel etwas eindrücken.
                 </li>


            <li><b>Schritt</b> <br>
                Auf ein mit Backpapier belegtes Backblech geben und mit etwas Abstand zu einander für 12 Minuten backen lassen. Nach dem Backen die Kekse auf einem Kuchengitter für 1 Stunde auskühlen lassen
             

            <li><b>schritt</b><br>
            Für die Schokoglasur die Zartbitterkuvertüre fein hacken, in eine Metallschüssel geben und über einem warmen Wasserbad schmelzen. Jeden abgekühlten Nutella-Keks bis zur Hälfte in die Schokolade tunken und am Schüsselrand abstreifen. Auf ein Backpa-pier setzen und abkühlen lassen
            </li></0l>
        </div>
    
        <h4>Rezept erstellt von</h4>
    
        <div class="preparation-user"> 
            <img src="/images/profile.png" class="user-img">
            <span><b>Rahim</b></span>
    
        </div>
    
    
    </div>
    
    


</div>